{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ host.name }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ host.name }}" />
  <meta name="description"
  content={% if host.blurb %}
    "{{ host.blurb|safe }}"
  {% else %}
    "The original database for Kinda Funny content. Filter, sort and search by channel, show, host. Made for the community, by the community."
  {% endif %} />
  <meta name="keywords" content="Kinda, Funny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture, {{ host.name }}" />
{% endblock %}

{% block main %}
  <div class="drawer md:drawer-open min-h-[inherit]">
    <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col bg-base-100 px-2 sm:px-4">
      <div class="flex flex-row pb-4 pt-2 sm:pt-4">
        {% if host.socials %}
        <div class="flex flex-wrap {% if host.socials.items|length > 4 %}max-w-16 sm:{% endif %}max-w-8 justify-around items-center">
          {% for key, value in host.socials.items %}
            <a href="{{ value }}" target="_blank" aria-label="{{ key|title }}" title="{{ key|title }}" tabindex="0">{% include 'core/partials/socials/'|add:key|add:'.html' %}</a>
          {% endfor %}
        </div>
        {% endif %}
        {% if host.image %}
          <div class="indicator">
            <div class="indicator-item indicator-bottom indicator-center badge badge-{{ host.border_color }}">
            <div class="tooltip tooltip-{{ host.border_color }}" data-tip="{{ host.name }} has appeared in {{ appearances }} videos">
              <button type="button" class="cursor-default">{{ appearances }}</span>
            </div>
          </div>
            <div class="mx-2 sm:mx-4">
              <img src="{{ host.image.url }}" alt="{{ host.name }}" class="w-28 h-28 sm:w-40 sm:h-40 lg:w-56 lg:h-56 rounded md:rounded-md border-2 border-{{ host.border_color }}  aspect-square object-cover" />
            </div>
          </div>
        {% endif %}
        <div class="flex flex-col max-h-28 sm:max-h-40 lg:max-h-56">
            <h1 class="text-xl md:text-3xl text-base-content">{{ host.name }}</h1>
            {% if host.nicknames %}
              <h3 class="sm:flex sm:flex-row"><span class="font-semibold">AKA&nbsp;</span><span>&quot;{{ host.nickname }}&quot;</span></h3>
            {% endif %}
          {% comment %} <div class="text-sm space-y-2 hidden 2xl:block">{{ host.blurb|safe }}</div> {% endcomment %}
        </div>
      </div>
      <label for="filter-drawer" class="btn btn-accent btn-square drawer-button fixed h-[3.25rem] w-[3.25rem] shadow top-[calc((var(--vh,1vh)*100)-5.25rem)] left-8 z-[19] rounded-full md:hidden" aria-label="Search, Sort, and Filter">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-accent-content" viewBox="0 -960 960 960">
          <path d="M455.39-180q-15.08 0-25.23-10.16Q420-200.31 420-215.39v-231.53L192.69-735.85q-11.12-13.64-3.14-28.89Q197.54-780 214.44-780h531.12q16.9 0 24.89 15.26 7.98 15.25-3.14 28.89L540-446.92v231.53q0 15.08-10.16 25.23Q519.69-180 504.61-180h-49.22ZM480-452.31l218.56-277.43H261.44L480-452.31Zm0 0Z" />
        </svg>
      </label>
      {% include 'core/partials/get-video-results.html' %}
    </div>
    {% include 'core/partials/build-sidebar.html' %}
  </div>
{% endblock %}
