{% extends 'base.html' %}
{% load l10n %}

{% block title %}
  {{ host.name }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ host.name }}" />
  <meta name="description"
  content={% if host.blurb %}
    "{{ host.blurb|safe }}"
  {% else %}
    "The original database for Kinda Funny content. Filter, sort and search by channel, show, host. Made for the community, by the community."
  {% endif %} />
  <meta name="keywords" content="Kinda Funny, KF, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture, {{ host.name }}" />
{% endblock %}

{% block main %}
  <div class="drawer md:drawer-open min-h-[inherit]">
    <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col bg-base-100 xs:px-4">
      <div class="flex flex-col xs:flex-row pb-4 xs:pt-4">
        {% if host.socials %}
          <div class="flex flex-wrap py-4 xs:py-0 xs:max-w-8 justify-around items-center">
            {% for key, value in host.socials.items %}
              <a href="{{ value }}" target="_blank" aria-label="{{ key }} profile" title="{{ key|title }}" tabindex="0">{% include 'core/partials/socials/'|add:key|add:'.html' %}</a>
            {% endfor %}
          </div>
        {% endif %}
        <div class="indicator mb-3 xs:mb-0 {% if not host.image %}hidden xs:flex{% endif %}">
          <div class="indicator-item indicator-bottom indicator-center badge badge-outline bg-base-100 border-2 border-{{ host.border_color }}">
            <div class="tooltip tooltip-{{ host.border_color }}" data-tip="{{ host.name }} has appeared in {{ host.appearance_count }} video{% if host.appearance_count > 1 %}s{% endif %}">
              <span type="button" class="cursor-default select-none">{{ host.appearance_count }}</span>
            </div>
          </div>
          <div class="xs:mx-4">
            {% if host.image %}
              <img src="{{ host.image.url }}" alt="{{ host.name }}" class="h-auto w-screen xs:min-w-40 xs:w-40 xs:h-40 xl:min-w-56 xl:w-56 xl:h-56 rounded-none xs:rounded md:rounded-md border-2 border-{{ host.border_color }} aspect-square object-cover" />
            {% else %}
              <div class="align-bottom h-auto w-screen xs:min-w-40 xs:w-40 xs:h-40 xl:min-w-56 xl:w-56 xl:h-56 rounded-none xs:rounded md:rounded-md border-2 border-{{ host.border_color }} bg-base-100 overflow-hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-auto w-screen xs:min-w-40 xs:w-40 xs:h-40 xl:min-w-56 xl:w-56 xl:h-56 fill-gray-500" viewBox="0 -960 960 730">
                  <path d="M480-487q-71.46 0-116.23-44.77Q319-576.54 319-648q0-71.46 44.77-116.23Q408.54-809 480-809q71.46 0 116.23 44.77Q641-719.46 641-648q0 71.46-44.77 116.23Q551.46-487 480-487ZM145-130v-109q0-41 20.09-70.38Q185.19-338.75 217-354q69-32 133.45-47.5 64.46-15.5 129.5-15.5Q545-417 609-401q64 16 133 47 32.81 15.25 52.91 44.62Q815-280 815-239v109H145Z" />
                </svg>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="flex flex-col xs:max-h-40 lg:max-h-56 w-full">
          <h1 class="text-xl xs:text-3xl md:text-xl lg:text-3xl xl:text-4xl text-base-content self-center">{{ host.name }}</h1>
          {% if host.nicknames %}
            <div class="flex flex-row">
              <hr class="flex-1 my-auto" />
              <span class="text-sm xs:text-base font-bold self-center">&nbsp;&nbsp;AKA&nbsp;&nbsp;</span>
              <hr class="flex-1 my-auto" />
            </div>
            <h3 class="text-sm xs:text-base xl:text-xl italic self-center">&quot;{{ host.nickname }}&quot;</h3>
          {% elif host.part_timer %}
            <div class="flex flex-row">
              <hr class="flex-1 my-auto" />
              <span class="text-sm xs:text-base font-bold self-center">&nbsp;&nbsp;Part-Timer&nbsp;&nbsp;</span>
              <hr class="flex-1 my-auto" />
            </div>
          {% elif not host.kf_crew %}
            <div class="flex flex-row">
              <hr class="flex-1 my-auto" />
              <span class="text-sm xs:text-base font-bold self-center">&nbsp;&nbsp;Guest&nbsp;&nbsp;</span>
              <hr class="flex-1 my-auto" />
            </div>
          {% else %}
            <hr class="flex-1 my-auto" />
          {% endif %}
          {% if not host.image %}
            <h3 class="text-sm xs:text-base xl:text-xl italic self-center block xs:hidden">{{ host.appearance_count }} Appearances</h3>
          {% endif %}
        </div>
        <div class="absolute flex {% if not host.image and not host.socials %}
              top-11
          {% elif not host.image %}
              top-[6.25rem]
          {% elif host.socials %}
              top-[calc(100vw+0.5rem)]
          {% else %}
              top-[calc(100vw-3.25rem)]
          {% endif %} xs:top-[8.75rem] xl:top-[12.75rem] right-4">
          {% if host.blurb or host.birthday %}
            <div class="dropdown dropdown-bottom dropdown-end rounded-full bg-primary-content my-auto">
              <div tabindex="0" role="button" class="m-1" aria-label="host description" title="Host description">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 fill-primary -m-2" viewBox="0 -960 960 960">
                  <path d="M420-259h120v-261H420v261Zm59.82-327q27.68 0 45.93-18.07Q544-622.15 544-649.82q0-27.68-18.07-45.93Q507.85-714 480.18-714q-27.68 0-45.93 18.07Q416-677.85 416-650.18q0 27.68 18.07 45.93Q452.15-586 479.82-586ZM480-34q-92.64 0-174.47-34.6-81.82-34.61-142.07-94.86T68.6-305.53Q34-387.36 34-480q0-92.9 34.66-174.45 34.67-81.55 95.18-141.94 60.51-60.39 142.07-95Q387.48-926 480-926q92.89 0 174.48 34.59 81.59 34.6 141.96 94.97 60.37 60.37 94.97 141.99Q926-572.83 926-479.92q0 92.92-34.61 174.25-34.61 81.32-95 141.83Q736-103.33 654.45-68.66 572.9-34 480-34Z" />
                </svg>
              </div>
              <div tabindex="0" class="dropdown-content card card-compact bg-primary text-primary-content z-10 w-64 max-w-[100vw] p-2 shadow">
                <div class="card-body !p-2">
                  {% if host.blurb %}
                    <span class="text-justify space-y-2">{{ host.blurb|safe }}</span>
                  {% endif %}
                  {% if host.birthday %}
                    <div class="flex flex-row" aria-label="birthday">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-primary-content" viewBox="0 -960 960 960">
                        <path d="m33-28 234-656 422 422L33-28Zm176-176 288-102-186-184-102 286Zm402-258-54-52 236-236q35-35 83-35t83 35l30 32-54 52-30-30q-13-13-30-13t-30 13L611-462ZM431-642l-54-54 26-24q10-10 10-23t-10-23l-28-28 54-52 26 26q32 32 32 77t-32 77l-24 24Zm90 90-54-52 154-154q13-13 13-30t-13-30l-72-70 54-54 70 72q35 35 35 83t-35 83L521-552Zm180 180-54-52 86-86q32-32 77-32t77 32l86 86-54 52-84-84q-10-10-24-10t-24 10l-86 84ZM209-204Z" />
                      </svg>
                      <span>&nbsp;&nbsp;{{ host.birth_day }}</span>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          <div tabindex="0" role="button" class="min-w-9 min-h-9 btn btn-sm btn-secondary btn-square shadow rounded-box ml-4" hx-get="{% url 'edit_host' %}?host={{ host.id|unlocalize }}" hx-trigger="click" hx-target="#edit-modal" hx-swap="innerHTML" aria-label="suggest edit" title="Suggest edit">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-secondary-content" viewBox="0 -960 960 960">
              <path d="M186.67-120q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h389L509-773.33H186.67v586.66h586.66v-324.66L840-578v391.33q0 27-19.83 46.84Q800.33-120 773.33-120H186.67ZM480-480ZM360-360v-170l377-377q10-10 22.33-14.67 12.34-4.66 24.67-4.66 12.67 0 25.04 5 12.38 5 22.63 15l74 75q9.4 9.97 14.53 22.02 5.13 12.05 5.13 24.51 0 12.47-4.83 24.97-4.83 12.5-14.83 22.5L530-360H360Zm499-424.67-74.67-74.66L859-784.67Zm-432.33 358H502l246-246L710-710l-38.33-37.33-245 244.33v76.33ZM710-710l-38.33-37.33L710-710l38 37.33L710-710Z" />
            </svg>
          </div>
        </div>
      </div>

      <label for="filter-drawer" class="btn btn-accent btn-square drawer-button fixed h-[3.25rem] w-[3.25rem] shadow top-[calc((var(--vh,1vh)*100)-5.25rem)] left-8 z-[19] rounded-full md:hidden" aria-label="search, sort, and filter menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-accent-content" viewBox="0 -960 960 960">
          <path d="M455.39-180q-15.08 0-25.23-10.16Q420-200.31 420-215.39v-231.53L192.69-735.85q-11.12-13.64-3.14-28.89Q197.54-780 214.44-780h531.12q16.9 0 24.89 15.26 7.98 15.25-3.14 28.89L540-446.92v231.53q0 15.08-10.16 25.23Q519.69-180 504.61-180h-49.22ZM480-452.31l218.56-277.43H261.44L480-452.31Zm0 0Z" />
        </svg>
      </label>
      {% include 'videos/partials/get-video-results.html' %}
    </div>
    {% include 'core/partials/build-sidebar.html' %}
  </div>
{% endblock %}
