<div id="games-scroller" class="h-[33.33%] overflow-x-hidden whitespace-nowrap relative flex flex-row">
  <div class="flex flex-row h-full">
    {% for show in games %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex flex-row h-full">
    {% for show in games %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div id="prime-scroller" class="h-[33.34%] overflow-x-hidden whitespace-nowrap relative flex flex-row">
  <div class="flex flex-row h-full">
    {% for show in prime reversed %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex flex-row h-full">
    {% for show in prime reversed %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div id="members-scroller" class="h-[33.33%] overflow-x-hidden whitespace-nowrap relative flex flex-row">
  <div class="flex flex-row h-full">
    {% for show in members %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex flex-row h-full">
    {% for show in members %}
      {% if show.image %}
        <div class="min-w-[calc(((var(--vh,1vh)*100)-4rem)/3)] lg:min-w-[calc(((var(--vh,1vh)*100)-4.25rem)/3)]">
          <img src="{{ show.image.url }}" class="h-full min-w-full rounded-none shadow-none aspect-square object-cover" alt="{{ show.name }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
