{% extends 'base.html' %}

{% block title %}
  Channels
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter, sort and search by channel, show, or host. Made for the community, by the community." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture" />
{% endblock %}

{% block main %}
  Channels home.
{% endblock %}
