{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ channel.name }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ channel.name }}" />
  <meta name="description"
  content={% if channel.blurb %}
    "{{ channel.blurb|safe }}"
  {% else %}
    "The original database for Kinda Funny content. Filter, sort and search by channel, show, host. Made for the community, by the community."
  {% endif %} />
  <meta name="keywords" content="Kinda Funny, KF, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture, {{ channel.name }}" />
{% endblock %}

{% block main %}
  <div class="drawer md:drawer-open min-h-[inherit]">
    <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col bg-base-100 xs:px-2">
      <div class="flex flex-col xs:flex-row pb-2 xs:py-4">
        <div class="xs:mx-4">
          {% if channel.image %}
            <img src="{{ channel.image.url }}" alt="{{ channel.name }}" class="h-auto w-screen xs:min-w-40 xs:w-40 xs:h-40 xl:min-w-56 xl:w-56 xl:h-56 rounded-none xs:rounded md:rounded-md aspect-square object-cover" />
          {% else %}
            <img src="{% static 'img/not-found.webp' %}" class="h-auto w-screen xs:min-w-40 xs:w-40 xs:h-40 xl:min-w-56 xl:w-56 xl:h-56 rounded-none xs:rounded md:rounded-md aspect-square object-cover" alt="Show not found" />
          {% endif %}
        </div>
        <div class="flex flex-col xs:max-h-40 lg:max-h-56 w-full">
          <h1 class="text-xl xs:text-3xl md:text-xl lg:text-3xl xl:text-4xl text-base-content self-center">{{ channel.name }}</h1>
          <div class="flex flex-row">
            <hr class="flex-1 my-auto" />
            <span class="text-sm xs:text-base font-bold self-center">&nbsp;&nbsp;Channel&nbsp;&nbsp;</span>
            <hr class="flex-1 my-auto" />
          </div>
        </div>
      </div>
      <label for="filter-drawer" class="btn btn-accent btn-square drawer-button fixed h-[3.25rem] w-[3.25rem] shadow top-[calc((var(--vh,1vh)*100)-5.25rem)] left-8 z-[19] rounded-full md:hidden" aria-label="Search, Sort, and Filter">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-accent-content" viewBox="0 -960 960 960">
          <path d="M455.39-180q-15.08 0-25.23-10.16Q420-200.31 420-215.39v-231.53L192.69-735.85q-11.12-13.64-3.14-28.89Q197.54-780 214.44-780h531.12q16.9 0 24.89 15.26 7.98 15.25-3.14 28.89L540-446.92v231.53q0 15.08-10.16 25.23Q519.69-180 504.61-180h-49.22ZM480-452.31l218.56-277.43H261.44L480-452.31Zm0 0Z" />
        </svg>
      </label>
      {% include 'videos/partials/get-video-results.html' %}
    </div>
    {% include 'core/partials/build-sidebar.html' %}
  </div>
{% endblock %}
