{% extends 'base.html' %}

{% block title %}
  Channels
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter, sort and search by channel, show, or host. Made for the community, by the community." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture" />
{% endblock %}

{% block main %}
  <div id="channels" class="flex flex-col h-[calc((var(--vh,1vh)*100)-6.25rem)] lg:h-[calc((var(--vh,1vh)*100)-6.5rem)] w-screen lg:ml-[-10vw] relative overflow-hidden">
    <div class="join portrait:join-vertical w-full h-full rounded-none">
      <a id="ch-games" href="{% url 'channel_page' channel='games' %}" class="h-full w-full join-item" aria-label="view games channel" title="Kinda Funny Games"></a>
      <a id="ch-prime" href="{% url 'channel_page' channel='prime' %}" class="h-full w-full join-item" aria-label="view prime channel" title="Kinda Funny Prime"></a>
    </div>
  </div>
{% endblock %}
