{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ channel.name }}
{% endblock %}

{% block meta %}
  <meta name="author" content="{{ channel.name }}" />
  <meta name="description"
  content={% if channel.blurb|safe %}
    "{{ channel.blurb|safe }}"
  {% else %}
    "The original database for Kinda Funny content. Filter, sort and search by channel, show, host. Made for the community, by the community."
  {% endif %} />
  <meta name="keywords" content="Kinda, Funny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture, {{ channel.name }}" />
{% endblock %}

{% block main %}
  <div class="drawer md:drawer-open min-h-[inherit]">
    <input id="filter-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col bg-base-100 px-2">
      <div class="min-h-14 md:min-h-1">
        <h1 class="text-lg md:text-3xl text-base-content">{{ channel.name }}</h1>
      </div>
      <label for="filter-drawer" class="btn btn-accent btn-square drawer-button fixed h-[3.25rem] w-[3.25rem] shadow top-[calc((var(--vh,1vh)*100)-5.25rem)] left-8 z-[19] rounded-full md:hidden" aria-label="Search, Sort, and Filter">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-accent-content" viewBox="0 -960 960 960">
          <path d="M455.39-180q-15.08 0-25.23-10.16Q420-200.31 420-215.39v-231.53L192.69-735.85q-11.12-13.64-3.14-28.89Q197.54-780 214.44-780h531.12q16.9 0 24.89 15.26 7.98 15.25-3.14 28.89L540-446.92v231.53q0 15.08-10.16 25.23Q519.69-180 504.61-180h-49.22ZM480-452.31l218.56-277.43H261.44L480-452.31Zm0 0Z" />
        </svg>
      </label>
      <div id="results-body" class="mb-2 pt-2">
        {% include 'videos/partials/get-video-results.html' %}
      </div>
    </div>
    <div class="h-[calc(var(--vh,1vh)*100)] drawer-side md:sticky md:h-[calc((var(--vh,1vh)*100)-3.5rem)] md:top-16 md:border-b-8 md:border-base-100 z-20 md:z-auto" hx-get="{% url 'build_filter' %}?u={{ curr_path }}&amp;c={{ channel.id }}" hx-trigger="intersect once" hx-target="this">
      <div class="p-4 w-80">
        <div class="bg-white rounded-[50%] max-w-6">
          <img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo" alt="Loading..." />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
