<dialog id="edit-video-modal" class="modal" open>
  <div class="modal-box max-w-xs border-[2px] border-base-content">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" aria-label="Close">✕</button>
    </form>
    <h4 class="text-lg font-bold">Suggest Edit</h4>
    <p class="text-sm">
      Is there something missing or wrong for<br /><span class="font-semibold italic">{{ video.title|safe }}</span>?
    </p>
    <p class="text-sm">Please submit your suggestion below:</p>
    <form>
      <div class="flex flex-col gap-4 mt-4">
        <select name="type" class="select select-sm lg:select-md select-bordered">
          <option value="" disabled selected>- Topic -</option>
          <option value="hosts">Host&lpar;s&rpar;</option>
          <option value="producer">Producer</option>
          <option value="show">Show</option>
          <option value="channel">Channel</option>
          <option value="description">Description</option>
          <option value="other">Other</option>
        </select>
        <textarea class="textarea textarea-bordered" placeholder="Suggestion..." minlength="10" maxlength="255" name="suggestion" required></textarea>
        <input type="text" placeholder="Name (Optional)" class="input input-sm lg:input-md input-bordered text-sm" />
        <button type="submit" class="btn btn-sm lg:btn-md btn-outline btn-primary mx-auto">Submit</button>
      </div>
    </form>
  </div>
</dialog>
