{% load l10n %}

<div class="flex flex-col 2xl:flex-row collapse-content bg-base-100 border-t-2 mt-[-2px] border-dotted border-base-content overflow-visible">
  <div class="flex flex-col 2xl:flex-1">
    <div class="flex flex-row">
      {% if 'patreon' in video.link %}
        <p class="mx-auto pt-4">
          <a href="{{ video.link }}" target="_blank" class="flex flex-row min-w-[150px] rounded-none group/patreonpost">
            <span class="flex-1 link-hover">View on Patreon</span>&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-accent group-hover/patreonpost:fill-primary" viewBox="0 -960 960 960">
              <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
            </svg>
          </a>
        </p>
      {% else %}
        <div class="flex flex-col min-w-16 min-h-[84px] -ml-4 justify-center items-center space-y-2">
          <div tabindex="0" role="button" class="" hx-get="{% url 'get_video_embed' %}?video_id={{ video.video_id }}" hx-trigger="click once" hx-swap="outerHTML" hx-target="#video-embed-{{ video.video_id }}" hx-headers='{"HX-RemoveNode": true}'>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-error" viewBox="0 -960 960 960">
              <path d="M369.39-275.13 687.13-480 369.39-684.87v409.74ZM166.78-125.26q-51.3 0-87.13-35.83-35.82-35.83-35.82-87.13v-463.56q0-51.3 35.82-87.13 35.83-35.83 87.13-35.83h626.44q51.3 0 87.13 35.83 35.82 35.83 35.82 87.13v463.56q0 51.3-35.82 87.13-35.83 35.83-87.13 35.83H166.78Z" />
            </svg>
          </div>
          {% if video.blurb %}
            <div tabindex="0" role="button" class="" hx-get="{% url 'get_video_blurb' %}?video_id={{ video.video_id }}" hx-trigger="click once" hx-swap="outerHTML" hx-target="#video-blurb-{{ video.video_id }}" hx-headers='{"HX-RemoveNode": true}'>
              <svg xmlns="http://www.w3.org/2000/svg" class="bg-white rounded-full w-6 h-6 fill-info" viewBox="0 -960 960 960">
                <path d="M420-259h120v-261H420v261Zm59.82-327q27.68 0 45.93-18.07Q544-622.15 544-649.82q0-27.68-18.07-45.93Q507.85-714 480.18-714q-27.68 0-45.93 18.07Q416-677.85 416-650.18q0 27.68 18.07 45.93Q452.15-586 479.82-586ZM480-34q-92.64 0-174.47-34.6-81.82-34.61-142.07-94.86T68.6-305.53Q34-387.36 34-480q0-92.9 34.66-174.45 34.67-81.55 95.18-141.94 60.51-60.39 142.07-95Q387.48-926 480-926q92.89 0 174.48 34.59 81.59 34.6 141.96 94.97 60.37 60.37 94.97 141.99Q926-572.83 926-479.92q0 92.92-34.61 174.25-34.61 81.32-95 141.83Q736-103.33 654.45-68.66 572.9-34 480-34Z" />
              </svg>
            </div>
          {% endif %}
        </div>
        <div class="pl-3 pt-8 mx-auto mb-4 min-w-16">
          {% if video.producer %}
            <a href="{% url 'host_page' type=video.producer.url_type host=video.producer.slug %}" title="Producer: {{ video.producer.name }}">
              {% if video.producer.image %}
                <img src="{{ video.producer.image.url }}" alt="{{ video.producer.name }}" class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-base-content aspect-square object-cover" />
              {% else %}
                <div class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-base-content bg-base-100 text-base-content">
                  <span class="flex flex-col h-full w-full justify-around items-center leading-none">{{ video.producer.initials }}</span>
                </div>
              {% endif %}
            </a>
          {% endif %}
          {% if video.hosts.all %}
            {% for h in video.hosts.all %}
              <a href="{% url 'host_page' type=h.url_type host=h.slug %}" title="{{ h.name }}">
                {% if h.image_xs %}
                  <img src="{{ h.image_xs.url }}" alt="{{ h.name }}" class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ h.border_color }} aspect-square object-cover" />
                {% else %}
                  <div class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ h.border_color }} bg-base-100 text-base-content">
                    <span class="flex flex-col h-full w-full justify-around items-center leading-none">{{ h.initials }}</span>
                  </div>
                {% endif %}
              </a>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="flex flex-col 2xl:flex-row">
      <div id="video-embed-{{ video.video_id }}"></div>
      <div id="video-blurb-{{ video.video_id }}"></div>
    </div>
  </div>
  <div class="absolute min-w-9 min-h-9 btn btn-sm btn-info btn-square shadow bottom-4 right-4 rounded-box" hx-get="{% url 'edit_video' %}?video={{ video.id|unlocalize }}" hx-trigger="click" hx-target="#edit-modal" hx-swap="innerHTML">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-info-content" viewBox="0 -960 960 960">
      <path d="M186.67-120q-27 0-46.84-19.83Q120-159.67 120-186.67v-586.66q0-27 19.83-46.84Q159.67-840 186.67-840h389L509-773.33H186.67v586.66h586.66v-324.66L840-578v391.33q0 27-19.83 46.84Q800.33-120 773.33-120H186.67ZM480-480ZM360-360v-170l377-377q10-10 22.33-14.67 12.34-4.66 24.67-4.66 12.67 0 25.04 5 12.38 5 22.63 15l74 75q9.4 9.97 14.53 22.02 5.13 12.05 5.13 24.51 0 12.47-4.83 24.97-4.83 12.5-14.83 22.5L530-360H360Zm499-424.67-74.67-74.66L859-784.67Zm-432.33 358H502l246-246L710-710l-38.33-37.33-245 244.33v76.33ZM710-710l-38.33-37.33L710-710l38 37.33L710-710Z" />
    </svg>
  </div>
</div>
