<div class="collapse-content bg-base-200 border-t-2 mt-[-2px] border-dotted border-base-content">
  <p>Producer: {{ video.producer.name }}</p>
  <p>Link: {{ video.link }}</p>

  <div class="pl-3 pt-8">
    {% for host in video.hosts.all %}
      <a href="{% url 'host_detail' type=host.url_type name=host.slug %}">
        {% if host.image %}
          <img src="{{ host.image.url }}" alt="{{ host.name }}" class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ host.border_color }} aspect-square object-cover" />
        {% else %}
          <div class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ host.border_color }} bg-neutral text-neutral-content">
            <span class="flex flex-col h-full w-full justify-around items-center leading-none">{{ host.initials }}</span>
          </div>
        {% endif %}
      </a>
    {% endfor %}
    {% for guest in video.guests.all %}
      <a href="{% url 'host_detail' type=guest.url_type name=guest.slug %}">
        {% if host.image %}
          <img src="{{ guest.image.url }}" alt="{{ guest.name }}" class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ guest.border_color }} aspect-square object-cover" />
        {% else %}
          <div class="inline-block align-middle w-[52px] h-[52px] rounded-full mt-[-1rem] ml-[-0.75rem] border-2 border-{{ guest.border_color }} bg-neutral text-neutral-content">
            <span class="flex flex-col h-full w-full justify-around items-center leading-none">{{ guest.initials }}</span>
          </div>
        {% endif %}
      </a>
    {% endfor %}
  </div>
</div>
