@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

#hero-banner {
  background-image: url(/static-files/img/kf-crew.webp);
  background-color: rgba(0,0,0,0.8);
  background-blend-mode: darken;
}

#pagination > .btn:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));
  color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));
}

img.loading-logo {
  max-height: 1.5rem;
  max-width: 1.5rem;
  animation: spin 1.5s ease-in-out infinite alternate;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1;
  animation: fadeInOpacity 0.65s ease-in 1;
}

@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fadeOutOpacity 0.65s ease-in 1;
}

@keyframes fadeOutOpacity {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@media (max-width: 431px) {
  .grid .card.image-full::before {
    border-radius: 0;
  }
}

.card.image-full {
  display: grid;
}

.host-card:has(img):before {
  opacity: 0.65 !important;
}

.host-card:has(img):hover:before {
  opacity: 0 !important;
}

.host-card > img {
  transform: scale(1);
  transition: all .3s ease;
}

.host-card:hover img {
  transform: scale(1.15);
}

.host-card:has(img):hover .card-body {
  visibility: hidden;
}

.host-card:not(:has(img)):hover {
  background-color: var(--fallback-p,oklch(var(--p)/var(--tw-bg-opacity)));
  color: var(--fallback-pc,oklch(var(--pc)/var(--tw-text-opacity)));
}
