@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 1vh;
}

#hero-banner {
  background-image: url(/static-files/img/kf-crew.webp);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

#ch-games,
#ch-prime {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  -webkit-filter: brightness(70%);
}

#ch-games:hover,
#ch-prime:hover {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

#ch-games {
  background-image: url(/static-files/img/kf-games.webp);
  background-color: #012fca;
}

#ch-prime {
  background-image: url(/static-files/img/kf-prime.webp);
  background-color: #1abdfe;
}

@media (orientation: portrait) {
  #ch-games,
  #ch-prime {
    background-size: auto 60%;
    --angle: 7rem;
  }
  #ch-games {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--angle)));
  }
  #ch-prime {
    clip-path: polygon(0 0, 100% var(--angle), 100% 100%, 0 100%);
    margin-top: calc(var(--angle) * -1);
  }
}

@media (orientation: landscape) {
  #ch-games,
  #ch-prime {
    background-size: 40% auto;
    --angle: 9rem;
  }
  #ch-games {
    clip-path: polygon(0 0, calc(100% - var(--angle)) 0, 100% 100%, 0 100%);
  }
  #ch-prime {
    clip-path: polygon(0 0, 100% 0, 100% 100%, var(--angle) 100%);
    margin-left: calc(var(--angle) * -1);
  }
}

#games-scroller > div {
  animation: 60s scroll-games infinite linear;
}

#prime-scroller > div {
  animation: 80s scroll-prime infinite linear;
}

#members-scroller > div {
  animation: 20s scroll-members infinite linear;
}

@keyframes scroll-games {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-prime {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scroll-members {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#pagination > .btn:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1, oklch(var(--b1) / var(--tw-bg-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
}

img.loading-logo {
  max-height: 1.5rem;
  max-width: 1.5rem;
  animation: spin 1.5s ease-in-out infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1;
  animation: fadeInOpacity 0.65s ease-in 1;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fadeOutOpacity 0.65s ease-in 1;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 431px) {
  .grid .card.image-full::before {
    border-radius: 0;
  }
}

.card.image-full {
  display: grid;
}

.host-card:has(img):before {
  opacity: 0.65 !important;
  top: 0;
  transition: top 0.3s linear;
}

.host-card:has(img):hover:before {
  border-radius: 0;
  top: 100%;
}

.host-card > img {
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.host-card:hover img {
  transform: scale(1.15);
}

.host-card:has(img):hover .card-body {
  visibility: hidden;
}

.host-card:not(:has(img)):hover {
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
  color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
}

@keyframes wiggle {
  0% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

span.wiggle {
  display: inline-block;
  animation: wiggle 0.75s infinite;
}

span.wiggle-reverse {
  display: inline-block;
  animation: wiggle 0.75s infinite reverse;
}
