{% load static %}

<div class="h-[calc(var(--vh,1vh)*100)] drawer-side md:sticky md:h-[calc((var(--vh,1vh)*100)-3.5rem)] md:top-16 md:border-base-100 z-20 md:z-auto">
  <label for="filter-drawer" aria-label="Close Side Navigation" class="drawer-overlay"></label>
  <div class="menu p-4 w-80 min-h-[calc((var(--vh,1vh)*100)-4rem)] bg-base-200 mt-16 md:mt-0">
    <label for="filter-drawer" aria-label="Close Side Navigation" class="btn btn-square btn-ghost right-0 absolute mr-2 mt-[-8px] md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 0 24 24">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
      </svg>
    </label>
    <form id="filter-form" class="mt-8 md:mt-0">
      <div class="collapse collapse-arrow text-lg">
        <input type="checkbox" class="peer/filter" />
        <div class="collapse-title font-medium peer-checked/filter:text-sm peer-checked/filter:text-primary">Filter</div>
        <div class="collapse-content mt-[-1rem]">
          <div class="pb-2" hx-get="{% url 'build_filter' %}?u={{ view.curr_path }}&amp;{{ filter_param }}" hx-trigger="intersect once" hx-target="this">
            <img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo rounded-full bg-white" alt="Loading..." />
          </div>
        </div>
      </div>
      <hr class="border-accent" />
      <div class="collapse collapse-arrow text-lg">
        <input type="checkbox" class="peer/sort" />
        <div class="collapse-title font-medium peer-checked/sort:text-sm peer-checked/sort:text-primary">Sort</div>
        <div class="collapse-content mt-[-1rem]">
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Release Date &lpar;New&rpar;</span>
              <input type="radio" name="sort" value="-release_date" class="radio radio-sm trigger" checked="checked" />
            </label>
            <label class="label cursor-pointer">
              <span class="label-text">Release Date &lpar;Old&rpar;</span>
              <input type="radio" name="sort" value="release_date" class="radio radio-sm trigger" />
            </label>
            <label class="label cursor-pointer">
              <span class="label-text">Title &lpar;A-Z&rpar;</span>
              <input type="radio" name="sort" value="title" class="radio radio-sm trigger" />
            </label>
            <label class="label cursor-pointer">
              <span class="label-text">Title &lpar;Z-A&rpar;</span>
              <input type="radio" name="sort" value="-title" class="radio radio-sm trigger" />
            </div>
        </div>
      </div>
      <hr class="border-accent" />
      <div class="form-control my-4">
        <input type="text" name="search" placeholder="Search..." class="input input-sm md:input:md input-bordered w-auto trigger form-input" />
      </div>
      <div class="flex flex-row">
        <select name="results" class="select select-sm select-bordered mr-auto trigger">
          <option value="25" disabled selected>- Results -</option>
          <option value="10">10 / page</option>
          <option value="25">25 / page</option>
          <option value="50">50 / page</option>
          <option value="100">100 / page</option>
        </select>
        <input type="reset" value="Reset" class="btn btn-warning btn-sm ml-auto" hx-get="{{ view.curr_path }}" hx-trigger="click" hx-target="#results-body" hx-swap="outerHTML" hx-on::before-request="fadeOut();" hx-headers='{"HX-UpdateList": true}' />
      </div>
    </div>
    </form>
  </div>
</div>

<script src="{% static 'js/resultsHandler.js' %}?v={% now 'U' %}"></script>
