{% load static %}

<label for="filter-drawer" aria-label="Close Side Navigation" class="drawer-overlay"></label>
<div class="menu p-4 w-80 min-h-[calc((var(--vh,1vh)*100)-4rem)] bg-base-200 mt-16 md:mt-0">
  <label for="filter-drawer" aria-label="Close Side Navigation" class="btn btn-square btn-ghost right-0 absolute mr-2 mt-[-8px] md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 0 24 24">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
    </svg>
  </label>
  <form class="mt-8 md:mt-0" hx-get="{{ curr_path }}" hx-trigger="change target:.trigger" hx-target="#results-body">
    <input type="hidden" name="page" value="1" />
    <div class="collapse collapse-arrow text-lg">
      <input type="checkbox" class="peer/filter" />
      <div class="collapse-title font-medium peer-checked/filter:text-sm peer-checked/filter:text-primary">Filter</div>
      <div class="collapse-content mt-[-1rem]">
        <div class="pb-2">
          {% if hosts_crew %}
            <div class="pt-2">
              {% for host in hosts_crew %}
                <label class="label cursor-pointer">
                  <span class="label-text">{{ host.1 }}</span>
                  <input type="checkbox" class="checkbox trigger" name="crew" value="{{ host.0 }}" />
                </label>
              {% endfor %}
            </div>
          {% endif %}
          {% if hosts_producers %}
            <label class="w-full max-w-xs">
              <div class="label">
                <span class="label-text">Producer</span>
              </div>
              <select name="producer" class="select select-bordered select-sm w-full max-w-xs trigger">
                <option value="" selected>- All -</option>
                <hr />
                {% for producer in hosts_producers %}
                  <option value="{{ producer.0 }}">{{ producer.1 }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
          {% if hosts_part_timers %}
            <label class="w-full max-w-xs">
              <div class="label">
                <span class="label-text">Part-Timer</span>
              </div>
              <select name="part-timer" class="select select-bordered select-sm w-full max-w-xs trigger">
                <option value="" selected>- All -</option>
                <hr />
                {% for part_timer in hosts_part_timers %}
                  <option value="{{ part_timer.0 }}">{{ part_timer.1 }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
          {% if hosts_guests %}
            <label class="w-full max-w-xs">
              <div class="label">
                <span class="label-text">Guests</span>
              </div>
              <select name="guest" class="select select-bordered select-sm w-full max-w-xs trigger">
                <option value="" selected>- All -</option>
                <hr />
                {% for guest in hosts_guests %}
                  <option value="{{ guest.0 }}">{{ guest.1 }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
          {% if shows_active or shows_inactive %}
            <label class="w-full max-w-xs">
              <div class="label">
                <span class="label-text">Show</span>
              </div>
              <select name="show" class="select select-bordered select-sm w-full max-w-xs trigger">
                <option value="" selected>- All -</option>
                <hr />
                {% for show in shows_active %}
                  <option value="{{ show.0 }}">{{ show.1 }}</option>
                {% endfor %}
                <hr />
                {% for show in shows_inactive %}
                  <option value="{{ show.0 }}">{{ show.1 }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
          {% if channels %}
            <label class="w-full max-w-xs">
              <div class="label">
                <span class="label-text">Channel</span>
              </div>
              <select name="channel" class="select select-bordered select-sm w-full max-w-xs trigger">
                <option value="" selected>- All -</option>
                <hr />
                {% for channel in channels %}
                  <option value="{{ channel.0 }}">{{ channel.1 }}</option>
                {% endfor %}
              </select>
            </label>
          {% endif %}
        </div>
      </div>
    </div>
    <hr class="border-accent" />
    <div class="collapse collapse-arrow text-lg">
      <input type="checkbox" class="peer/sort" />
      <div class="collapse-title font-medium peer-checked/sort:text-sm peer-checked/sort:text-primary">Sort</div>
      <div class="collapse-content mt-[-1rem]"></div>
    </div>
    <hr class="border-accent" />
    <div class="form-control my-4">
      <input type="text" id="search-input" name="search" placeholder="Search..." class="input input-sm md:input:md input-bordered w-auto trigger" />
      <script src="{% static 'js/searchHandler.js' %}?v={% now 'U' %}"></script>
    </div>
    <div class="form-control">
      <input type="reset" value="Reset Filter" class="btn btn-warning btn-sm ml-auto" hx-get="{{ curr_path }}" hx-trigger="click" hx-target="#results-body" />
    </div>
  </form>
</div>
