{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="kindafunny">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kinda Funny Database</title>

    <meta name="author" content="Kinda Funny" />
    <meta name="description" content="The original database for Kinda Funny content. Filter by channel, show, host, or guest. This is a fan-run site, we are not associated with Kinda Funny." />
    <meta name="keywords" content="Kinda, Funny, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd Culture" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00a3e0" />
    <meta name="apple-mobile-web-app-title" content="Kinda Funny Database" />
    <meta name="application-name" content="Kinda Funny Database" />
    <meta name="msapplication-TileColor" content="#00a3e0" />
    <meta name="theme-color" content="#00a3e0" />

    <link href="{% static 'main.css' %}" rel="stylesheet" />
  </head>

  <body hx-boost="true">
    <div id="hero-banner" class="hero min-h-screen py-24 sm:py-32 bg-cover bg-center">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Kinda Funny Database</h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">Four, sometimes five, best friends gather around this table.</p>
        </div>
        <div class="mx-auto mt-4 sm:mt-8 max-w-2xl lg:mx-0 lg:max-w-none">
          <dl class="grid grid-cols-1 gap-4 md:gap-8 sm:grid-cols-2 md:grid-cols-4" hx-get="{% url 'load_stats' %}" hx-target="#crew-count" hx-trigger="load once">
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300">Crew Members</dt>
              <dd id="crew-count" class="text-2xl font-bold leading-9 tracking-tight text-white"><img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo invert" alt="Loading..." /></dd>
            </div>
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300">Part-Timers</dt>
              <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><span id="part-timer-count"><img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo invert" alt="Loading..." /></span></dd>
            </div>
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300">Guests</dt>
              <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><span id="guest-count"><img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo invert" alt="Loading..." /></span></dd>
            </div>
            <div class="flex flex-col-reverse">
              <dt class="text-base leading-7 text-gray-300">Videos</dt>
              <dd class="text-2xl font-bold leading-9 tracking-tight text-white"><span id="video-count"><img src="{% static 'img/kf-smiley.svg' %}" class="loading-logo invert" alt="Loading..." /></span></dd>
            </div>
          </dl>
        </div>
        <div class="mx-auto mt-8 max-w-2xl lg:mx-0 lg:max-w-none">
          <a href="{% url 'index' %}" class="btn btn-primary btn-sm 2xl:btn-md">
            Get Started<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 -960 960 960">
              <path d="m553.85-253.85-42.16-43.38L664.46-450H180v-60h484.46L511.69-662.77l42.16-43.38L780-480 553.85-253.85Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div></div>

    <script src="{% static 'htmx.min.js' %}"></script>
  </body>
</html>
