{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter by channel, show, host, or
    guest. This is a fan-run site, we are not associated with Kinda Funny." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd
    Culture" />
{% endblock %}

{% block main %}
  <div id="welcome" class="hero min-h-[calc(var(--vh,1vh)*100)] lg:w-screen lg:ml-[-10vw] snap-start">
    <div class="!max-w-[max(67vw,80rem)] hero-content p-0 xs:p-4 flex-col md:flex-row">
      <div class="h-[100vw] xs:h-0 xs:hidden"></div>
      <img src="{% static 'img/nick-cheers.webp' %}" class="z-[-1] fixed xs:static top-16 xs:top-auto w-screen xs:max-w-md lg:max-w-lg 2xl:max-w-[calc(((var(--vh,1vh)*100)-4.25rem)*2/3)] rounded-none xs:rounded-box xs:shadow-sm md:shadow-2xl aspect-square object-cover" alt="Nick Scarpino looking good" />
      <div class="min-h-[calc((var(--vh,1vh)*100)-4rem-50vw)] xs:min-h-0 mb-[-25vw] xs:mb-0 p-4 lg:p-8 md:max-w-[50vw] bg-base-100 xs:bg-primary xs:text-primary-content xs:border-2 xs:border-primary-content md:-ml-24 lg:-ml-16 xs:rounded-box md:mt-16 lg:mt-32 2xl:mt-36 xs:shadow-md md:shadow-lg lg:shadow-2xl">
        <h1 class="text-4xl lg:text-5xl 2xl:text-6xl font-bold">Welcome to KFDB!</h1>
        <p class="py-2 md:py-4">Made for the community, by the community.</p>
        <p class="pb-4">This database contains all Kinda Funny YouTube and Patreon content. Every YouTube episode includes host and guest appearances. All content can be filtered, sorted, and searched.</p>
        <div>
          <a href="{% url 'videos_home' %}" class="btn btn-sm 2xl:btn-md btn-primary xs:hover:btn-outline xs:bg-primary-content xs:text-primary xs:!border-none">Browse Videos</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hosts" class="flex flex-col h-[calc(var(--vh,1vh)*100)] bg-gray-950 text-gray-500 lg:w-screen lg:ml-[-10vw] relative overflow-hidden snap-start">
    <div class="flex flex-col bg-gray-950 text-white rounded-box z-[1] p-4 w-44 h-60 absolute left-0 sm:left-[calc(33vw)] right-0 top-0 bottom-0 xs:bottom-[calc((var(--vh,1vh)*100/3)-1rem)] m-auto shadow-lg border-2 border-white">
      <h2 class="text-2xl xs:text-3xl font-bold">Hosts</h2>
      <span hx-trigger="intersect once" hx-get="{% url 'get_host_count' %}" hx-target="this" hx-swap="outerHTML"></span>
      <a href="{% url 'hosts_home' %}" class="btn btn-sm hover:btn-outline bg-white text-gray-950 !border-none">Browse Hosts</a>
    </div>
    <div class="font-poppins w-[200vw] sm:w-[120vw] ml-[-5vw] select-none font-semibold text-3xl" hx-trigger="intersect once" hx-get="{% url 'get_random_hosts' %}" hx-target="this" hx-swap="innerHTML"></div>
  </div>

  <div id="shows" class="flex flex-col h-[calc(var(--vh,1vh)*100)] bg-base-300 lg:w-screen lg:ml-[-10vw] relative snap-start" hx-trigger="load" hx-get="{% url 'shows_home' %}" hx-target="this" hx-swap="beforeend">
    <div class="h-16 lg:h-[4.25rem]"></div>
    <div class="flex flex-col bg-secondary text-white rounded-box z-[1] p-4 w-44 h-[7.25rem] absolute left-0 right-0 lg:right-[calc(33vw+24rem)] top-[calc((var(--vh,1vh)*100/3)+2.5rem)] bottom-0 m-auto shadow-lg border-2 border-white">
      <h2 class="text-2xl xs:text-3xl font-bold">Shows</h2>
      <a href="{% url 'shows_home' %}" class="btn btn-sm bg-white text-secondary !border-none mt-4">Browse&nbsp;<span hx-trigger="load" hx-get="{% url 'get_show_count' %}" hx-target="this" hx-swap="outerHTML"></span>&nbsp;Shows</a>
    </div>
  </div>

  <div id="channels" class="flex flex-col h-[calc(var(--vh,1vh)*100)] bg-base-300 w-screen lg:ml-[-10vw] relative overflow-hidden snap-start">
    <div class="h-16 lg:h-[4.25rem]"></div>
    <div class="join portrait:join-vertical w-full h-[calc(100%-4rem)] lg:h-[calc(100%-4.25rem)] rounded-none">
      <a id="ch-games" href="{% url 'channel_page' channel='games' %}" class="h-full w-full join-item" aria-label="view games channel" title="Kinda Funny Games"></a>
      <a id="ch-prime" href="{% url 'channel_page' channel='prime' %}" class="h-full w-full join-item" aria-label="view prime channel" title="Kinda Funny Prime"></a>
    </div>
  </div>
{% endblock %}
