{% extends 'base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter by channel, show, host, or
    guest. This is a fan-run site, we are not associated with Kinda Funny." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd
    Culture" />
{% endblock %}

{% block main %}
  <div id="welcome-hero" class="hero min-h-[calc((var(--vh,1vh)*100)-4rem)] lg:min-h-[calc((var(--vh,1vh)*100)-4.25rem)] bg-base-100 lg:w-screen lg:ml-[-10vw]">
    <div class="!max-w-[max(67vw,80rem)] hero-content p-0 xs:p-4 flex-col md:flex-row">
      <div class="h-[100vw] xs:h-0 xs:hidden"></div>
      <img src="{% static 'img/nick-cheers.webp' %}" class="z-[-1] fixed xs:static top-16 xs:top-auto w-screen xs:max-w-md lg:max-w-lg 2xl:max-w-[calc(((var(--vh,1vh)*100)-4.25rem)*2/3)] rounded-none xs:rounded-box xs:shadow-sm md:shadow-2xl aspect-square object-cover" alt="Nick Scarpino looking good" />
      <div class="min-h-[calc((var(--vh,1vh)*100)-4rem-50vw)] xs:min-h-0 mb-[-25vw] xs:mb-0 p-4 lg:p-8 md:max-w-[50vw] bg-base-100 xs:bg-primary xs:text-primary-content xs:border-2 xs:border-primary-content md:-ml-24 lg:-ml-16 xs:rounded-box md:mt-16 lg:mt-32 2xl:mt-36 xs:shadow-md md:shadow-lg lg:shadow-2xl">
        <h1 class="text-4xl lg:text-5xl 2xl:text-6xl font-bold">Welcome to KFDB!</h1>
        <p class="py-2 md:py-4">Made for the community, by the community.</p>
        <p class="pb-4">This database contains all Kinda Funny YouTube and Patreon content. Every YouTube episode includes host and guest appearances. All content can be filtered, sorted, and searched.</p>
        <div class="flex flex-col lg:flex-row max-w-32 lg:max-w-full" hx-boost="true">
          <a href="{% url 'hosts_home' %}" class="btn btn-sm 2xl:btn-md btn-primary xs:bg-primary-content xs:text-primary xs:!border-none mb-4 lg:mb-0 lg:mr-4">Browse Hosts</a>
          <a href="{% url 'videos_home' %}" class="btn btn-sm 2xl:btn-md btn-primary xs:bg-primary-content xs:text-primary xs:!border-none">Browse Videos</a>
        </div>
      </div>
    </div>
  </div>

  <div id="scroller-hero" class="flex flex-col h-[calc((var(--vh,1vh)*100)-4rem)] lg:h-[calc((var(--vh,1vh)*100)-4.25rem)] bg-base-100 lg:w-screen lg:ml-[-10vw] relative" hx-trigger="load" hx-get="{% url 'shows_home' %}" hx-boost="false" hx-target="this" hx-swap="beforeend">
    <div class="flex flex-col bg-secondary text-white rounded-none xs:rounded-box z-[1] p-4 w-screen xs:w-96 h-40 xs:absolute xs:left-0 xs:right-0 lg:right-[calc(33vw+24rem)] xs:top-[calc((var(--vh,1vh)*100/3)-1rem)] xs:bottom-0 xs:m-auto xs:shadow-lg xs:border-2 xs:border-white">
      <h1 class="text-2xl xs:text-3xl font-bold">Shows</h1>
      <p class="py-4">
        Videos are categorized into <span hx-trigger="load" hx-get="{% url 'get_show_count' %}" hx-target="this" hx-swap="innerHTML"></span> shows.
      </p>
      <a href="{% url 'shows_home' %}" class="btn btn-sm bg-white text-secondary !border-none max-w-32">Browse Shows</a>
    </div>
  </div>
{% endblock %}
