{% extends 'base.html' %}
{% load static %}

{% block title %}
  Privacy Policy
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter by channel, show, host, or
    guest. This is a fan-run site, we are not associated with Kinda Funny." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd
    Culture" />
{% endblock %}

{% block main %}
  <div class="flex flex-col p-4">
    <h1 class="text-3xl mx-auto">Privacy Policy</h1>

    <p class="my-4">Last updated: July 2024</p>

    <p class="text-justify">Kinda Funny Database &lpar;&quot;KFDB&quot;, &quot;we&quot;, &quot;our&quot;, &quot;us&quot;&rpar; provides a comprehensive list of all YouTube and Patreon videos &lpar;&quot;Content&quot;&rpar; by the company &quot;Kinda Funny&quot; for our visitors. KFDB is not endorsed by Kinda Funny and does not reflect the views or opinions of Kinda Funny or anyone officially involved in producing or managing Kinda Funny content.</p>

    <h3 class="text-xl mt-4">Services</h3>
    <p class="text-justify">We provide users with the ability to view, filter, sort, and search through Kinda Funny content. Additionally, users are able to suggest edits to the displayed content if they believe something is missing or incorrect. Suggested edits must be approved by our content team before they are applied.</p>

    <h3 class="text-xl mt-4">YouTube Content</h3>
    <p class="text-justify">Each piece of YouTube content includes the video's title, publish date, description and an embedded video to view directly on our site. This information is retrieved from the YouTube API. Additionally, our team has categorized each video into a &quot;Channel&quot; and &quot;Show&quot; for further filtering.</p>

    <h3 class="text-xl mt-4">Patreon Content</h3>
    <p class="text-justify">
      All audio/video posts for the Membership tier &lpar;USD 10&rpar; at <a href="https://www.patreon.com/kindafunny" class="link underline" target="_blank">patreon.com/kindafunny</a> are included in KFDB's content. Only the title and date of these posts are included on KFDB. The content of these posts is not part of KFDB's content, as they require paid membership on Patreon. Each post contains a link to Patreon.
    </p>

    <h3 class="text-xl mt-4">Editing Content</h3>
    <p class="text-justify">Users are able to submit edits for content that they believe is missing or contains incorrect information. All data submitted as a &quot;Suggestion&quot;, including the optional &quot;Username&quot;, is saved internally by KFDB. This data is not shared with anyone.</p>

    <h1 class="text-3xl mx-auto mt-8">Cookie Policy</h1>

    <p class="mt-4">Last updated: July 2024</p>

    <h3 class="text-xl mt-4">First-Party Cookies</h3>
    <p class="text-justify">We use two &lpar;2&rpar; &quot;Strictly Necessary&quot; cookies for KFDB. No personally-identifiable information is stored.</p>
    <p class="text-justify">1&rpar; The &quot;kfdb_session&quot; cookie is linked to a user's session and ensures requests are genuine and prevents malicious activity from outside sources. This cookie expires at the end of each session.</p>
    <p class="text-justify">2&rpar; The &quot;kfdb_theme&quot; cookie saves a user's choice for the site's color theme. This cookie expires after one &lpar;1&rpar; year.</p>

    <h3 class="text-xl mt-4">Third-Party Cookies</h3>
    <p class="text-justify">
      KFDB does not use any third-party cookies. We use &quot;youtube-nocookie.com&quot; for all embedded YouTube videos. This prevents Google from adding cookies to users' browsers when viewing YouTube videos on KFDB. For more information, please visit <a href="https://support.google.com/youtube/answer/171780" class="link underline" target="_blank" rel="noreferrer nofollow noopener">Google Support</a> &gt; Manage video embedding options &gt; Turn on privacy-enhanced mode.
    </p>
  </div>
{% endblock %}
