{% extends 'base.html' %}
{% load static %}

{% block title %}
  Server Error
{% endblock %}

{% block meta %}
  <meta name="author" content="Kinda Funny" />
  <meta name="description" content="The original database for Kinda Funny content. Filter by channel, show, host, or
    guest. This is a fan-run site, we are not associated with Kinda Funny." />
  <meta name="keywords" content="Kinda Funny, KF, KindaFunny, Video Games, Podcast, Reactions, Twitch, YouTube, KFBF, Nerd
    Culture" />
{% endblock %}

{% block main %}
  <div class="hero min-h-[calc((var(--vh,1vh)*100)-4rem)] lg:min-h-[calc((var(--vh,1vh)*100)-4.25rem)]">
    <div class="!max-w-[max(67vw,80rem)] hero-content p-0 xs:p-4 flex-col md:flex-row">
      <img src="{% static 'img/flabbergasted-640.webp' %}" class="z-[-1] w-screen xs:max-w-md lg:max-w-lg 2xl:max-w-[calc(((var(--vh,1vh)*100)-4.25rem)*2/3)] rounded-none xs:rounded-box xs:shadow-sm md:shadow-2xl aspect-square object-cover" alt="Nick Scarpino looking good" />
      <div class="min-h-[calc((var(--vh,1vh)*100)-4rem-50vw)] xs:min-h-0 p-4 lg:p-8 md:max-w-[50vw] bg-base-100 xs:bg-primary xs:text-primary-content xs:border-2 xs:border-primary-content md:-ml-24 lg:-ml-16 xs:rounded-box md:mt-8 lg:mt-16 2xl:mt-20 xs:shadow-md md:shadow-lg lg:shadow-2xl">
        <h1 class="text-4xl lg:text-5xl font-bold">Server Error</h1>
        <p class="py-2 md:py-4">Oops, something went wrong! Please go back and try your request again.</p>
        <p class="pb-4">
          If you continue to receive this message, please reach out to&nbsp;<script type="text/javascript">
                                                                              document.write(`<a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#107;&#102;&#100;&#98;&#46;&#97;&#112;&#112;" rel="nofollow noopener noreferrer" class="link underline">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#64;&#107;&#102;&#100;&#98;&#46;&#97;&#112;&#112;</a>`)
                                                                            </script>.
        </p>
        <div class="flex flex-col xs:flex-row w-full xs:w-40 mx-auto justify-center">
          <a href="{% url 'index' %}" class="btn btn-sm btn-outline border-base-content text-base-content xs:border-primary-content xs:text-primary-content w-32 mx-auto xs:mx-0">KFDB Home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
