{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="kindafunny" class="bg-base-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}

      {% endblock %}- Kinda Funny Database
    </title>

    {% block meta %}

    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00a3e0" />
    <meta name="apple-mobile-web-app-title" content="Kinda Funny Database" />
    <meta name="application-name" content="Kinda Funny Database" />
    <meta name="msapplication-TileColor" content="#00a3e0" />
    <meta name="theme-color" content="#00a3e0" />

    <link href="{% static 'main.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <div class="w-full navbar bg-gradient-to-r from-secondary to-primary">
          <div class="flex-none md:hidden">
            <label for="nav-drawer" aria-label="Open Side Navigation" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-base-content">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 px-2 mx-2">
            {% url 'index' as index_url %}
            <a class="px-4"
              href="{% if request.path != index_url %}
                {{ index_url }}
              {% else %}





                #





              {% endif %}">
              <img class="max-h-12" src="{% static 'img/kfdb-logo.svg' %}" alt="KFDB Logo" />
            </a>
          </div>
          <div class="navbar-center hidden md:flex text-base-300">
            <ul class="menu menu-horizontal px-1">
              <li class="dropdown dropdown-hover">
                <div tabindex="0">Kinda Funny Games</div>
                <ul tabindex="0" class="menu dropdown-content p-2 z-10 rounded-box bg-base-100 text-base-content">
                  {% for i in games_active %}
                    <li>
                      <a href="{% url 'show_page' channel='kfg' show=i.show__slug %}" class="text-nowrap">{{ i.show__name }}</a>
                    </li>
                  {% endfor %}
                  <hr class="w-[calc(100%-2rem)] mx-auto mt-2 mb-1" />
                  <li>
                    <a href="{% url 'channel_page' channel='kfg' %}" class="text-nowrap">Browse Videos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-hover">
                <div tabindex="0">Kinda Funny</div>
                <ul tabindex="0" class="menu dropdown-content p-2 z-10 rounded-box bg-base-100 text-base-content">
                  {% for i in prime_active %}
                    <li>
                      <a href="{% url 'show_page' channel='kf' show=i.show__slug %}" class="text-nowrap">{{ i.show__name }}</a>
                    </li>
                  {% endfor %}
                  <hr class="w-[calc(100%-2rem)] mx-auto mt-2 mb-1" />
                  <li>
                    <a href="{% url 'channel_page' channel='kf' %}" class="text-nowrap">Browse Videos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-hover">
                <div tabindex="0">Hosts</div>
                <ul tabindex="0" class="menu dropdown-content p-2 z-10 rounded-box bg-base-100 text-base-content">
                  <li>
                    <a href="{% url 'host_page' type='kf-crew' %}" class="text-nowrap">KF Crew</a>
                  </li>
                  <li>
                    <a href="{% url 'host_page' type='part-timers' %}" class="text-nowrap">Part-Timers</a>
                  </li>
                  <li>
                    <a href="{% url 'host_page' type='guests' %}" class="text-nowrap">Guests</a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto mt-2 mb-1" />
                  <li>
                    <a href="{% url 'host_home' %}" class="text-nowrap">Browse Hosts</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-end dropdown-hover">
                <div tabindex="0">Membership</div>
                <ul tabindex="0" class="menu dropdown-content p-2 z-10 rounded-box bg-base-100 text-base-content">
                  <li>
                    <a href="https://www.youtube.com/kindafunnygames/join" target="_blank" class="text-nowrap">
                      YouTube<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.patreon.com/kindafunny/membership" target="_blank" class="text-nowrap">
                      Patreon<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto mt-2 mb-1" />
                  <li>
                    <a href="{% url 'channel_page' channel='members' %}" class="text-nowrap">Browse Videos</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        {% block main %}

        {% endblock %}
      </div>
      <div class="drawer-side">
        <label for="nav-drawer" aria-label="Close Side Navigation" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200">
          <label for="nav-drawer" aria-label="Close Side Navigation" class="btn btn-square btn-ghost right-0 absolute mr-2 mt-[-8px] z-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 0 24 24">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
            </svg>
          </label>
          <li class="mt-12">
            <a href="{% url 'channel_page' channel='kfg' %}">Kinda Funny Games</a>
            <ul class="p-2">
              {% for i in games_active %}
                <li>
                  <a href="{% url 'show_page' channel='kfg' show=i.show__slug %}">{{ i.show__name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="{% url 'channel_page' channel='kf' %}">Kinda Funny</a>
            <ul class="p-2">
              {% for i in prime_active %}
                <li>
                  <a href="{% url 'show_page' channel='kf' show=i.show__slug %}">{{ i.show__name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <a href="{% url 'channel_page' channel='members' %}">Kinda Funny Membership</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="{% static 'htmx.min.js' %}"></script>
  </body>
</html>
