{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ theme }}" class="bg-base-100{% if request.path == '/home/' %} lg:overflow-x-hidden snap-y snap-mandatory snap-always{% endif %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}

      {% endblock %}- Kinda Funny Database
    </title>

    {% block meta %}

    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#00a3e0" />
    <meta name="apple-mobile-web-app-title" content="Kinda Funny Database" />
    <meta name="application-name" content="Kinda Funny Database" />
    <meta name="msapplication-TileColor" content="#00a3e0" />
    <meta name="theme-color" content="#00a3e0" />

    <link href="{% static 'main.css' %}" rel="stylesheet" />

    {% if request.path == '/home/' %}
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    {% endif %}
  </head>

  <body>
    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <div class="w-full navbar bg-gradient-to-r from-secondary to-primary z-50 sticky top-0">
          <div class="flex-none md:hidden">
            <label tabindex="0" for="nav-drawer" aria-label="Open Side Navigation" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-secondary-content">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 mx-2">
            {% url 'index' as index_url %}
            <a href="{% if request.path != index_url %}
                {{ index_url }}
              {% else %}
                #
              {% endif %}"
              tabindex="0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452 524" class="w-12 h-12 fill-secondary-content stroke-none hover:fill-info">
                <path id="Selection #2"
                  d="M 237.00,416.00
                        C 236.81,424.88 234.15,433.63 231.33,442.00
                          214.49,492.03 165.70,521.92 114.00,522.00
                          114.00,522.00 30.00,522.00 30.00,522.00
                          23.45,522.00 8.06,523.93 4.31,517.79
                          2.78,515.27 3.01,511.85 3.00,509.00
                          3.00,509.00 3.00,120.00 3.00,120.00
                          3.00,120.00 3.00,30.00 3.00,30.00
                          3.00,23.58 1.09,6.50 7.13,3.02
                          9.25,1.80 12.60,2.00 15.00,2.00
                          15.00,2.00 63.00,2.00 63.00,2.00
                          72.91,2.14 73.96,6.00 74.00,15.00
                          74.00,15.00 74.00,68.00 74.00,68.00
                          74.00,75.76 73.29,88.96 75.00,96.00
                          81.30,91.27 89.55,78.77 94.63,72.00
                          94.63,72.00 128.63,27.00 128.63,27.00
                          133.92,19.94 142.88,5.60 151.00,2.85
                          153.88,1.88 157.00,2.00 160.00,2.00
                          160.00,2.00 220.00,2.00 220.00,2.00
                          224.84,2.01 230.98,1.99 229.53,9.00
                          228.86,12.21 225.08,16.40 223.00,19.00
                          223.00,19.00 208.60,37.00 208.60,37.00
                          208.60,37.00 156.60,102.00 156.60,102.00
                          156.60,102.00 139.00,124.00 139.00,124.00
                          136.49,127.19 132.70,131.61 133.52,136.00
                          134.17,139.47 139.04,144.24 141.42,147.00
                          141.42,147.00 164.00,171.00 164.00,171.00
                          164.00,171.00 175.04,183.00 175.04,183.00
                          175.04,183.00 238.00,250.00 238.00,250.00
                          238.00,250.00 238.00,60.00 238.00,60.00
                          238.00,60.00 238.00,23.00 238.00,23.00
                          238.00,18.97 237.42,9.27 239.17,6.06
                          241.61,1.61 245.63,2.01 250.00,2.00
                          250.00,2.00 393.00,2.00 393.00,2.00
                          393.00,2.00 424.00,2.00 424.00,2.00
                          426.92,2.01 430.33,1.71 432.77,3.60
                          436.36,6.37 435.99,10.96 436.00,15.00
                          436.00,15.00 436.00,49.00 436.00,49.00
                          436.00,53.03 436.68,60.58 434.26,63.77
                          431.53,67.39 427.03,66.99 423.00,67.00
                          423.00,67.00 336.00,67.00 336.00,67.00
                          325.39,67.00 309.29,63.74 309.00,79.00
                          308.88,85.97 307.34,96.17 316.00,98.86
                          317.84,99.08 321.03,99.00 323.00,98.86
                          323.00,98.86 397.00,98.86 397.00,98.86
                          404.26,99.00 418.02,96.85 421.26,105.02
                          422.13,107.21 422.00,110.62 422.00,113.00
                          422.00,113.00 422.00,152.00 422.00,152.00
                          421.99,155.61 422.23,159.70 419.99,162.77
                          417.31,166.47 413.05,165.99 409.00,166.00
                          409.00,166.00 324.00,166.00 324.00,166.00
                          313.06,166.02 309.02,168.57 309.00,180.00
                          309.00,180.00 309.00,235.00 309.00,235.00
                          309.00,244.25 310.78,253.32 305.00,261.00
                          305.00,261.00 350.00,261.00 350.00,261.00
                          350.00,261.00 362.00,262.04 362.00,262.04
                          362.00,262.04 370.00,262.04 370.00,262.04
                          399.11,264.95 426.79,277.62 437.14,307.00
                          439.29,313.11 440.92,321.52 441.00,328.00
                          441.19,344.54 439.98,352.26 429.84,366.00
                          426.12,371.05 423.65,373.44 419.01,377.58
                          417.28,379.11 414.25,381.32 414.62,383.96
                          414.95,386.29 418.22,388.41 420.00,389.65
                          425.86,393.75 427.69,394.54 432.96,400.00
                          442.85,410.27 448.93,424.73 449.00,439.00
                          449.07,453.26 449.05,464.43 443.55,478.00
                          431.69,507.27 405.51,518.34 376.00,521.07
                          376.00,521.07 366.00,522.00 366.00,522.00
                          366.00,522.00 268.00,522.00 268.00,522.00
                          263.48,522.00 247.22,522.52 244.02,521.26
                          241.89,520.43 240.25,518.97 239.17,516.96
                          237.79,514.37 238.00,510.87 238.00,508.00
                          238.00,508.00 238.00,447.00 238.00,447.00
                          238.00,439.38 238.84,422.48 237.00,416.00 Z
                        M 238.00,262.00
                        C 238.00,262.00 168.00,262.00 168.00,262.00
                          150.21,261.97 147.95,253.99 136.92,242.00
                          136.92,242.00 96.58,197.00 96.58,197.00
                          91.52,191.17 81.88,178.46 75.00,176.00
                          73.30,181.97 74.00,190.62 74.00,197.00
                          74.00,197.00 74.00,235.00 74.00,235.00
                          74.00,245.86 75.77,251.39 70.00,261.00
                          108.77,261.00 142.64,258.88 178.00,278.31
                          185.62,282.50 192.39,287.99 199.00,293.59
                          205.20,298.85 213.81,309.14 218.30,316.00
                          224.07,324.81 229.48,335.91 232.57,346.00
                          232.57,346.00 238.00,367.00 238.00,367.00
                          238.00,367.00 238.00,262.00 238.00,262.00 Z
                        M 315.02,327.22
                        C 309.42,329.76 309.08,332.32 309.00,338.00
                          308.88,347.34 306.06,359.76 319.00,360.00
                          319.00,360.00 348.00,360.00 348.00,360.00
                          351.56,359.99 354.83,360.27 357.98,358.26
                          367.45,352.23 368.76,337.70 359.91,330.56
                          356.05,327.45 352.73,327.06 348.00,327.22
                          348.00,327.22 315.02,327.22 315.02,327.22 Z
                        M 79.02,328.60
                        C 76.59,329.96 75.67,330.35 74.31,333.02
                          72.18,337.21 73.00,353.46 73.00,359.00
                          73.00,359.00 73.00,441.00 73.00,441.00
                          73.02,452.52 73.89,455.98 86.00,456.00
                          86.00,456.00 113.00,456.00 113.00,456.00
                          126.81,455.98 141.94,451.96 151.91,441.91
                          166.84,426.86 168.23,405.85 168.00,386.00
                          167.83,371.82 163.87,357.32 155.10,346.01
                          141.22,328.13 120.36,328.00 100.00,328.00
                          94.22,328.00 84.27,327.47 79.02,328.60 Z
                        M 316.00,419.20
                        C 313.83,420.11 312.27,420.48 310.74,422.39
                          308.00,425.80 308.99,439.22 309.00,444.00
                          309.01,446.96 308.73,450.35 310.60,452.85
                          312.81,455.82 315.64,455.93 319.00,456.00
                          319.00,456.00 354.00,456.00 354.00,456.00
                          359.06,455.99 362.57,456.16 366.98,453.15
                          378.44,445.34 376.58,430.24 365.99,422.65
                          361.42,419.38 357.37,419.03 352.00,419.20
                          352.00,419.20 316.00,419.20 316.00,419.20 Z" />
              </svg>
            </a>
          </div>
          <div class="justify-end hidden md:flex text-primary-content">
            <ul class="menu menu-horizontal px-1">
              <li class="dropdown dropdown-hover">
                <div tabindex="0" class="py-6 -my-4 rounded-none">KF Games</div>
                <ul tabindex="0" class="menu dropdown-content mt-4 ml-0 px-0 py-2 rounded-b-box bg-base-200 text-base-content z-50">
                  <li>
                    <a href="{% url 'show_page' show='kfgd' %}?channel=games" class="text-nowrap rounded-none">Games Daily</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='gamescast' %}?channel=games" class="text-nowrap rounded-none">Gamescast</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='game-showdown' %}?channel=games" class="text-nowrap rounded-none">Game Showdown</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='gameplay' %}?channel=games" class="text-nowrap rounded-none">Gameplay</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='reactions' %}?channel=games" class="text-nowrap rounded-none">Reactions</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='highlights' %}?channel=games" class="text-nowrap rounded-none">Highlights</a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <li>
                    <a href="{% url 'channel_page' channel='games' %}" class="text-nowrap rounded-t-none rounded-b-box pb-4 mb-[-0.5rem]">Browse Videos</a>
                  </li>
                </ul>
              </li>
              <li class="flex-none dropdown dropdown-hover">
                <div tabindex="0" class="py-6 -my-4 rounded-none">KF Prime</div>
                <ul tabindex="0" class="menu dropdown-content mt-4 ml-0 px-0 py-2 rounded-b-box bg-base-200 text-base-content z-50">
                  <li>
                    <a href="{% url 'show_page' show='kf-podcast' %}?channel=prime" class="text-nowrap rounded-none">KF Podcast</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='in-review' %}?channel=prime" class="text-nowrap rounded-none">In Review</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='screencast' %}?channel=prime" class="text-nowrap rounded-none">Screencast</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='reactions' %}?channel=prime" class="text-nowrap rounded-none">Reactions</a>
                  </li>
                  <li>
                    <a href="{% url 'show_page' show='highlights' %}?channel=prime" class="text-nowrap rounded-none">Highlights</a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <li>
                    <a href="{% url 'channel_page' channel='prime' %}" class="text-nowrap rounded-t-none rounded-b-box pb-4 mb-[-0.5rem]">Browse Videos</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-hover">
                <div tabindex="0" class="py-6 -my-4 rounded-none">Hosts</div>
                <ul tabindex="0" class="menu dropdown-content mt-4 ml-0 px-0 py-2 rounded-b-box bg-base-200 text-base-content z-50">
                  <li>
                    <a href="{% url 'hosts_crew' %}" class="text-nowrap rounded-none">KF Crew</a>
                  </li>
                  <li>
                    <a href="{% url 'hosts_part_timers' %}" class="text-nowrap rounded-none">Part-Timers</a>
                  </li>
                  <li>
                    <a href="{% url 'hosts_guests' %}" class="text-nowrap rounded-none">Guests</a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <li>
                    <a href="{% url 'hosts_home' %}" class="text-nowrap rounded-t-none rounded-b-box pb-4 mb-[-0.5rem]">Browse Hosts</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown dropdown-hover">
                <div tabindex="0" class="py-6 -my-4 rounded-none">Membership</div>
                <ul tabindex="0" class="menu dropdown-content mt-4 ml-0 px-0 py-2 rounded-b-box bg-base-200 text-base-content z-50">
                  <li>
                    <a href="https://www.youtube.com/kindafunnygames/join" target="_blank" class="flex flex-row rounded-none group/youtubelg">
                      <span class="flex-1">YouTube</span><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-accent group-hover/youtubelg:fill-primary" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.patreon.com/kindafunny/membership" target="_blank" class="flex flex-row rounded-none group/patreonlg">
                      <span class="flex-1">Patreon</span><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-accent group-hover/patreonlg:fill-primary" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <li>
                    <a href="{% url 'channel_page' channel='members' %}" class="text-nowrap rounded-t-none rounded-b-box pb-4 mb-[-0.5rem]">Browse Videos</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-square btn-ghost" aria-label="Themes" title="Themes">
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" class="inline-block w-5 h-5 fill-primary-content"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm40-83q119-15 199.5-104.5T800-480q0-123-80.5-212.5T520-797v634Z"/></svg>
            </div>
            <div tabindex="0" class="dropdown-content mt-14 md:mt-[58px] p-0 rounded-t-none rounded-b-box bg-base-200 text-base-content join join-vertical z-50">
              <input type="radio" name="theme" class="btn theme-controller join-item" aria-label="Dark" value="dark" hx-get="{% url 'update_theme' %}" hx-trigger="click" {% if theme == 'dark' %}checked{% endif %} />
              <input type="radio" name="theme" class="btn theme-controller join-item" aria-label="Light" value="light" hx-get="{% url 'update_theme' %}" hx-trigger="click" {% if theme == 'light' %}checked{% endif %} />
              <input type="radio" name="theme" class="btn theme-controller join-item" aria-label="Slick" value="black" hx-get="{% url 'update_theme' %}" hx-trigger="click" {% if theme == 'black' %}checked{% endif %} />
              <input type="radio" name="theme" class="btn theme-controller join-item" aria-label="Clean" value="lofi" hx-get="{% url 'update_theme' %}" hx-trigger="click" {% if theme == 'lofi' %}checked{% endif %} />
              <input type="radio" name="theme" class="btn theme-controller join-item" aria-label="Kinda Funny" value="kindafunny" hx-get="{% url 'update_theme' %}" hx-trigger="click" {% if theme == 'kindafunny' %}checked{% endif %} />
            </div>
          </div>
        </div>

        <main class="flex flex-col justify-center mx-auto min-h-[calc((var(--vh,1vh)*100)-13.75rem)] md:min-h-[calc((var(--vh,1vh)*100)-11.5rem)] lg:max-w-[80vw]">
          {% block main %}

          {% endblock %}
        </main>
      </div>
      <div class="h-[calc(var(--vh,1vh)*100)] drawer-side z-50">
        <label for="nav-drawer" aria-label="Close Side Navigation" class="drawer-overlay"></label>
        <ul class="p-4 w-80 min-h-full bg-base-200">
          <label for="nav-drawer" aria-label="Close Side Navigation" class="btn btn-square btn-ghost right-0 absolute mr-2 mt-[-8px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 stroke-current fill-current" viewBox="0 0 24 24">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" />
            </svg>
          </label>
          <li class="mt-12">
            <div class="collapse collapse-arrow text-lg">
              <input type="checkbox" class="peer/games" />
              <div class="collapse-title font-medium peer-checked/games:bg-base-100 peer-checked/games:text-sm peer-checked/games:text-primary">KF Games</div>
              <div class="collapse-content text-lg text-base-content bg-base-100">
                <ul>
                  <a href="{% url 'show_page' show='kfgd' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Games Daily</li></a>
                  <a href="{% url 'show_page' show='gamescast' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Gamescast</li></a>
                  <a href="{% url 'show_page' show='game-showdown' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Game Showdown</li></a>
                  <a href="{% url 'show_page' show='gameplay' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Gameplay</li></a>
                  <a href="{% url 'show_page' show='reactions' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Reactions</li></a>
                  <a href="{% url 'show_page' show='highlights' %}?channel=games" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Highlights</li></a>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <a href="{% url 'channel_page' channel='games' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Browse Videos</li></a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="collapse collapse-arrow text-lg has-[input:checked]:mt-4">
              <input type="checkbox" class="peer/prime" />
              <div class="collapse-title font-medium peer-checked/prime:bg-base-100 peer-checked/prime:text-sm peer-checked/prime:text-primary">KF Prime</div>
              <div class="collapse-content text-lg text-base-content bg-base-100">
                <ul>
                  <a href="{% url 'show_page' show='kf-podcast' %}?channel=prime" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">KF Podcast</li></a>
                  <a href="{% url 'show_page' show='in-review' %}?channel=prime" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">In Review</li></a>
                  <a href="{% url 'show_page' show='screencast' %}?channel=prime" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Screencast</li></a>
                  <a href="{% url 'show_page' show='reactions' %}?channel=prime" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Reactions</li></a>
                  <a href="{% url 'show_page' show='highlights' %}?channel=prime" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Highlights</li></a>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <a href="{% url 'channel_page' channel='prime' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Browse Videos</li></a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="collapse collapse-arrow text-lg has-[input:checked]:mt-4">
              <input type="checkbox" class="peer/hosts" />
              <div class="collapse-title font-medium peer-checked/hosts:bg-base-100 peer-checked/hosts:text-sm peer-checked/hosts:text-primary">Hosts</div>
              <div class="collapse-content text-lg text-base-content bg-base-100">
                <ul>
                  <a href="{% url 'hosts_crew' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">KF Crew</li></a>
                  <a href="{% url 'hosts_part_timers' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Part-Timers</li></a>
                  <a href="{% url 'hosts_guests' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Guests</li></a>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <a href="{% url 'hosts_home' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Browse Hosts</li></a>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="collapse collapse-arrow text-lg has-[input:checked]:mt-4">
              <input type="checkbox" class="peer/members" />
              <div class="collapse-title font-medium peer-checked/members:bg-base-100 peer-checked/members:text-sm peer-checked/members:text-primary">Membership</div>
              <div class="collapse-content text-lg text-base-content bg-base-100">
                <ul>
                  <li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">
                    <a href="https://www.youtube.com/kindafunnygames/join" target="_blank" class="flex flex-row group/youtubesm">
                      <span class="flex-1">YouTube</span><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-accent group-hover/youtubesm:fill-primary" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">
                    <a href="https://www.patreon.com/kindafunny/membership" target="_blank" class="flex flex-row group/patreonsm">
                      <span class="flex-1">Patreon</span><svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-accent group-hover/patreonsm:fill-primary" viewBox="0 -960 960 960">
                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z" />
                      </svg>
                    </a>
                  </li>
                  <hr class="w-[calc(100%-2rem)] mx-auto my-2 border-accent" />
                  <a href="{% url 'channel_page' channel='members' %}" class="text-nowrap"><li class="px-4 py-2 rounded-[var(--tab-radius)] hover:bg-base-200">Browse Videos</li></a>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <footer class="footer footer-center p-6 bg-base-100 text-base-content rounded-none gap-y-6 relative">
      <nav class="grid grid-cols-2 xs:grid-cols-4 md:grid-cols-6 gap-x-6 md:gap-x-4 gap-y-6">
        <a href="#" class="link link-hover min-w-28" tabindex="0">About</a>
        <a href="#" class="link link-hover min-w-28" tabindex="0">Support</a>
        <a href="{% url 'api_docs' %}" class="link link-hover min-w-28" tabindex="0">KFDB&nbsp;API</a>
        <a href="#" class="link link-hover min-w-28" tabindex="0">Privacy&nbsp;Policy</a>
        <p class="hidden xs:block md:hidden"></p>
        <a href="https://www.kindafunny.com/" class="link link-hover min-w-28" tabindex="0">KindaFunny.com</a>
        <a href="https://kindafunny.shop/" class="link link-hover min-w-28" tabindex="0">KF&nbsp;Merch</a>
      </nav>
      <nav class="grid grid-cols-3 xs:grid-cols-6 gap-x-12 xs:gap-x-8 md:gap-x-12 gap-y-6">
        <a href="https://www.twitter.com/kindafunnyvids" target="_blank" aria-label="Twitter" title="Twitter" tabindex="0">
          {% include 'core/partials/socials/twitter.html' %}
        </a>
        <a href="https://www.instagram.com/kindafunnyvids" target="_blank" aria-label="Instagram" title="Instagram" tabindex="0">
          {% include 'core/partials/socials/instagram.html' %}
        </a>
        <a href="https://www.tiktok.com/@kindafunnygames" target="_blank" aria-label="TikTok" title="TikTok" tabindex="0">
          {% include 'core/partials/socials/tiktok.html' %}
        </a>
        <a href="https://www.youtube.com/kindafunnygames" target="_blank" aria-label="YouTube" title="YouTube" tabindex="0">
          {% include 'core/partials/socials/youtube.html' %}
        </a>
        <a href="https://www.twitch.com/kindafunnygames" target="_blank" aria-label="Twitch" title="Twitch" tabindex="0">
          {% include 'core/partials/socials/twitch.html' %}
        </a>
        <a href="https://www.patreon.com/kindafunny" target="_blank" aria-label="Patreon" title="Patreon" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="w-6 h-6 fill-base-content hover:fill-info">
            <path d="M489.7 153.8c-.1-65.4-51-119-110.7-138.3C304.8-8.5 207-5 136.1 28.4C50.3 68.9 23.3 157.7 22.3 246.2C21.5 319 28.7 510.6 136.9 512c80.3 1 92.3-102.5 129.5-152.3c26.4-35.5 60.5-45.5 102.4-55.9c72-17.8 121.1-74.7 121-150z" />
          </svg>
        </a>
      </nav>
    </footer>
    <footer class="footer footer-center py-4 px-6 bg-info text-info-content rounded-none z-0 relative{% if request.path == '/home/' %} snap-end{% endif %}">
      <aside>
        <p>KFDB is not endorsed by Kinda Funny and does not reflect the views or opinions of Kinda Funny or anyone officially involved in producing or managing Kinda Funny content.</p>
        <p class="flex flex-row">From the creator of&nbsp;&nbsp;<a href="https://www.survayy.com/" target="_blank"  class="link link-hover" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" class="fill-info-content hover:fill-secondary" width="80%" height="24px" viewBox="0 0 1447 301">
          <path
            d="M 1240.00,64.00
              C 1240.00,64.00 1240.00,259.00 1240.00,259.00
                1239.96,285.16 1218.88,300.96 1194.00,301.00
                1194.00,301.00 377.00,301.00 377.00,301.00
                377.00,301.00 87.00,301.00 87.00,301.00
                87.00,301.00 58.00,301.00 58.00,301.00
                58.00,301.00 43.00,301.00 43.00,301.00
                24.83,300.78 8.10,289.53 2.36,272.00
                0.56,266.51 0.01,260.74 0.00,255.00
                0.00,255.00 0.00,46.00 0.00,46.00
                0.04,18.80 17.44,0.04 45.00,0.00
                45.00,0.00 1120.00,0.00 1120.00,0.00
                1120.00,0.00 1310.00,0.00 1310.00,0.00
                1310.00,0.00 1405.00,0.00 1405.00,0.00
                1426.22,0.25 1445.97,17.23 1446.00,39.00
                1446.00,39.00 1446.00,182.00 1446.00,182.00
                1446.00,182.00 1446.00,261.00 1446.00,261.00
                1445.74,283.09 1426.56,299.97 1405.00,300.00
                1405.00,300.00 1298.00,300.00 1298.00,300.00
                1298.00,300.00 1298.00,257.00 1298.00,257.00
                1298.00,257.00 1379.00,257.00 1379.00,257.00
                1379.00,257.00 1396.00,257.00 1396.00,257.00
                1396.00,257.00 1402.40,255.40 1402.40,255.40
                1402.40,255.40 1404.00,247.00 1404.00,247.00
                1404.00,247.00 1404.00,237.00 1404.00,237.00
                1404.00,237.00 1314.00,237.00 1314.00,237.00
                1289.45,236.96 1270.04,220.16 1270.00,195.00
                1270.00,195.00 1270.00,64.00 1270.00,64.00
                1270.00,64.00 1312.00,64.00 1312.00,64.00
                1312.00,64.00 1312.00,164.00 1312.00,164.00
                1312.00,164.00 1312.00,186.00 1312.00,186.00
                1312.04,188.14 1311.96,190.77 1313.60,192.40
                1315.52,194.32 1319.46,193.99 1322.00,194.00
                1322.00,194.00 1384.00,194.00 1384.00,194.00
                1388.17,194.00 1400.63,195.20 1402.98,191.69
                1404.21,189.84 1404.00,186.19 1404.00,184.00
                1404.00,184.00 1404.00,76.00 1404.00,76.00
                1404.00,76.00 1404.00,53.00 1404.00,53.00
                1403.98,50.44 1404.16,47.40 1402.40,45.31
                1400.13,42.62 1396.18,43.01 1393.00,43.00
                1393.00,43.00 640.00,43.00 640.00,43.00
                640.00,43.00 182.00,43.00 182.00,43.00
                182.00,43.00 76.00,43.00 76.00,43.00
                76.00,43.00 53.00,43.00 53.00,43.00
                50.44,43.02 47.40,42.84 45.31,44.60
                42.62,46.87 43.01,50.82 43.00,54.00
                43.00,54.00 43.00,210.00 43.00,210.00
                43.00,210.00 43.00,242.00 43.00,242.00
                43.00,244.90 42.55,252.47 44.02,254.69
                45.86,257.45 50.09,256.99 53.00,257.00
                53.00,257.00 931.00,257.00 931.00,257.00
                931.00,257.00 1135.00,257.00 1135.00,257.00
                1135.00,257.00 1188.00,257.00 1188.00,257.00
                1195.22,256.99 1197.85,257.15 1198.00,249.00
                1198.00,249.00 1198.00,237.00 1198.00,237.00
                1198.00,237.00 1108.00,237.00 1108.00,237.00
                1083.45,236.96 1064.04,220.16 1064.00,195.00
                1064.00,195.00 1064.00,64.00 1064.00,64.00
                1064.00,64.00 1106.00,64.00 1106.00,64.00
                1106.00,64.00 1106.00,164.00 1106.00,164.00
                1106.00,164.00 1106.00,186.00 1106.00,186.00
                1106.04,188.14 1105.96,190.77 1107.60,192.40
                1109.52,194.32 1113.46,193.99 1116.00,194.00
                1116.00,194.00 1178.00,194.00 1178.00,194.00
                1182.17,194.00 1194.63,195.20 1196.98,191.69
                1198.21,189.84 1198.00,186.19 1198.00,184.00
                1198.00,184.00 1198.00,64.00 1198.00,64.00
                1198.00,64.00 1240.00,64.00 1240.00,64.00 Z
              M 197.00,172.00
              C 197.00,172.00 112.00,172.00 112.00,172.00
                90.60,171.75 71.57,163.13 65.04,141.00
                62.42,132.13 62.89,118.43 63.00,109.00
                63.31,82.91 80.11,63.04 107.00,63.00
                107.00,63.00 196.00,63.00 196.00,63.00
                213.51,63.03 230.05,72.30 236.91,89.00
                240.62,98.05 240.00,103.62 240.00,113.00
                240.00,113.00 197.00,113.00 197.00,113.00
                197.00,113.00 197.00,106.00 197.00,106.00
                197.00,106.00 128.00,106.00 128.00,106.00
                123.63,106.00 109.40,104.75 107.02,108.31
                105.79,110.16 106.00,113.81 106.00,116.00
                106.00,116.00 106.00,128.00 106.00,128.00
                106.00,128.00 191.00,128.00 191.00,128.00
                194.35,128.04 206.02,129.17 209.00,130.04
                226.27,135.11 239.78,150.67 240.00,169.00
                240.00,169.00 240.00,194.00 240.00,194.00
                239.96,219.22 220.91,236.96 196.00,237.00
                196.00,237.00 128.00,237.00 128.00,237.00
                115.21,237.00 100.94,238.57 89.00,233.54
                69.00,225.11 63.00,206.97 63.00,187.00
                63.00,187.00 106.00,187.00 106.00,187.00
                106.16,188.94 106.10,190.90 107.60,192.40
                110.20,195.01 123.91,194.00 128.00,194.00
                128.00,194.00 197.00,194.00 197.00,194.00
                197.00,194.00 197.00,172.00 197.00,172.00 Z
              M 261.00,63.00
              C 261.00,63.00 304.00,63.00 304.00,63.00
                304.00,63.00 304.00,194.00 304.00,194.00
                304.00,194.00 373.00,194.00 373.00,194.00
                377.37,194.00 391.60,195.25 393.98,191.69
                395.21,189.84 395.00,186.19 395.00,184.00
                395.00,184.00 395.00,63.00 395.00,63.00
                395.00,63.00 437.00,63.00 437.00,63.00
                437.00,63.00 437.00,196.00 437.00,196.00
                436.96,220.04 417.43,236.96 394.00,237.00
                394.00,237.00 305.00,237.00 305.00,237.00
                279.99,236.96 261.04,219.34 261.00,194.00
                261.00,194.00 261.00,63.00 261.00,63.00 Z
              M 470.00,237.00
              C 470.00,237.00 470.00,105.00 470.00,105.00
                470.04,80.02 489.64,63.04 514.00,63.00
                514.00,63.00 609.00,63.00 609.00,63.00
                609.00,63.00 609.00,93.00 609.00,93.00
                609.00,95.54 609.44,102.55 607.98,104.40
                606.41,106.38 602.30,106.00 600.00,106.00
                600.00,106.00 534.00,106.00 534.00,106.00
                529.63,106.00 515.40,104.75 513.02,108.31
                511.79,110.16 512.00,113.81 512.00,116.00
                512.00,116.00 512.00,237.00 512.00,237.00
                512.00,237.00 470.00,237.00 470.00,237.00 Z
              M 621.00,63.00
              C 621.00,63.00 662.00,63.00 662.00,63.00
                662.00,63.00 669.39,63.99 669.39,63.99
                669.39,63.99 675.24,73.00 675.24,73.00
                675.24,73.00 684.42,90.00 684.42,90.00
                684.42,90.00 714.86,146.00 714.86,146.00
                714.86,146.00 734.00,183.00 734.00,183.00
                734.00,183.00 736.00,183.00 736.00,183.00
                736.00,183.00 754.14,148.00 754.14,148.00
                754.14,148.00 785.69,90.00 785.69,90.00
                785.69,90.00 795.31,72.00 795.31,72.00
                795.31,72.00 800.63,63.99 800.63,63.99
                800.63,63.99 808.00,63.00 808.00,63.00
                808.00,63.00 850.00,63.00 850.00,63.00
                850.00,63.00 832.31,95.00 832.31,95.00
                832.31,95.00 776.70,196.00 776.70,196.00
                776.70,196.00 761.23,224.00 761.23,224.00
                759.81,226.61 755.79,234.59 753.61,235.98
                751.66,237.22 748.27,237.00 746.00,237.00
                746.00,237.00 722.00,237.00 722.00,237.00
                713.58,236.84 712.80,231.74 709.22,225.00
                709.22,225.00 693.77,197.00 693.77,197.00
                693.77,197.00 643.70,106.00 643.70,106.00
                639.00,97.44 623.07,70.25 621.00,63.00 Z
              M 859.00,63.00
              C 859.00,63.00 991.00,63.00 991.00,63.00
                1016.13,63.04 1034.96,80.56 1035.00,106.00
                1035.00,106.00 1035.00,237.00 1035.00,237.00
                1035.00,237.00 902.00,237.00 902.00,237.00
                877.80,236.96 859.04,219.50 859.00,195.00
                859.00,195.00 859.00,128.00 859.00,128.00
                859.00,128.00 992.00,128.00 992.00,128.00
                992.00,128.00 992.00,106.00 992.00,106.00
                992.00,106.00 859.00,106.00 859.00,106.00
                859.00,106.00 859.00,63.00 859.00,63.00 Z
              M 992.00,166.00
              C 992.00,166.00 923.00,166.00 923.00,166.00
                923.00,166.00 908.00,166.00 908.00,166.00
                906.05,166.04 903.37,165.90 902.02,167.60
                900.77,169.19 901.00,173.01 901.00,175.00
                900.99,178.48 900.09,190.99 902.60,192.98
                904.19,194.23 908.01,194.00 910.00,194.00
                910.00,194.00 992.00,194.00 992.00,194.00
                992.00,194.00 992.00,166.00 992.00,166.00 Z" />
        </svg></a></p>
      </aside>
    </footer>

    <div id="edit-modal"></div>

    <script src="{% static 'htmx.min.js' %}"></script>
    <script src="{% static 'js/kfdb.js' %}?v={% now 'U' %}"></script>
  </body>
</html>
